<form [formGroup]="FV.formGroup" autocomplete="off">
  <div class="">
    <div class="flex justify-content-between align-items-center mb-4">
      <div class="text-2xl font-semibold">Driver Leave Management</div>
      <p-button
        styleClass=" mr-2"
        icon="pi pi-plus"
        label="Request Leave"
        (onClick)="onOpenApplyLeave(1, null)"
      ></p-button>
    </div>
    <p-table
      #dt
      styleClass=""
      [columns]="cols"
      [value]="recodes"
      dataKey="_id"
      [rows]="10"
      styleClass="p-datatable-gridlines"
      [rowsPerPageOptions]="[10, 25, 50]"
      [paginator]="true"
      [rowHover]="true"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [globalFilterFields]="['fullName', 'userName']"
    >
      <ng-template pTemplate="caption">
        <!-- <div class="flex justify-content-between"> -->
        <!--**********************First Style********************-->
        <!-- <div class="p-fluid grid formgrid">
                <div class="field col-12 md:col-2">
                  <label for="rejectedLeaves">Rejected Leaves</label>
                  <input
                    id="rejectedLeaves"
                    pInputText
                    type="text"
                    class="w-full"
                    formControlName="rejectedLeaves"
                  />
                </div>
                <div class="field col-12 md:col-2">
                  <label for="rejectedLeaves">Leaves Taken</label>
                  <input
                    id="leavesTaken"
                    pInputText
                    type="text"
                    class="w-full"
                    formControlName="leavesTaken"
                  />
                </div>
                <div class="field col-12 md:col-2">
                  <label for="rejectedLeaves">Pending Leaves</label>
                  <input
                    id="pendingLeaves"
                    pInputText
                    type="text"
                    class="w-full"
                    formControlName="pendingLeaves"
                  />
                </div>
              </div> -->
        <!--**********************Second Style********************-->
        <div class="p-fluid grid formgrid">
          <div class="field col-12 md:col-4">
            <div class="card shadow-1">
              <label for="pendingLeaves">Pending Leaves</label>
              <div class="text-center mt-3">
                <label class="text-xl text-blue-500">{{
                  leaveData?.pendingLeaveCount
                }}</label>
              </div>
            </div>
          </div>
          <div class="field col-12 md:col-4">
            <div class="card shadow-1">
              <label for="leavesTaken">Approved Leaves</label>
              <div class="text-center mt-3">
                <label class="text-xl text-green-500">{{
                  leaveData?.approveLeaveCount
                }}</label>
              </div>
            </div>
          </div>
          <div class="field col-12 md:col-4">
            <div class="card shadow-1">
              <label for="rejectedLeaves">Rejected Leaves</label>
              <div class="text-center mt-3">
                <label class="text-xl text-red-500">{{
                  leaveData?.rejectLeaveCount
                }}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="flex justify-content-end">
          <p-dropdown
            id="leaveType"
            [options]="leaveTypes"
            optionLabel="name"
            formControlName="leaveType"
            [style]="{ width: '200px' }"
            appendTo="body"
            placeholder="Select Leave Type"
            [showClear]="true"
            optionValue="id"
            [autoOptionFocus]="false"
            (onChange)="onLeaveTypeChange($event)"
            (onClear)="onLeaveTypeChange($event)"
          ></p-dropdown>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th
            *ngFor="let col of columns"
            [ngClass]="{
              'text-center':
                col.field == 'status' ||
                col.field == 'availableLeaveCount' ||
                col.field == 'dateCount'
            }"
          >
            {{ col.header }}
          </th>
          <th class="text-center">Action</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td
            *ngFor="let col of columns"
            [ngClass]="{
              'text-center':
                col.field == 'status' ||
                col.field == 'availableLeaveCount' ||
                col.field == 'dateCount'
            }"
          >
            <ng-container *ngIf="col.field == 'status'">
              <div class="text-center">
                <p-button
                  [severity]="
                    rowData.status == 1
                      ? 'secondary'
                      : rowData.status == 2
                      ? 'success'
                      : 'danger'
                  "
                  outlined="true"
                  label="{{ rowData.statusName }}"
                ></p-button>
              </div>
            </ng-container>

            <ng-container *ngIf="col.field == 'createdAt'">
              <span>{{ rowData.createdAt | date : "dd-MM-yyyy h:mm a" }}</span>
            </ng-container>

            <ng-container *ngIf="col.field == 'startDate'">
              <span *ngIf="rowData.dateCount == 1">{{
                rowData.startDate | date : "dd/MM/yyyy"
              }}</span>
              <span *ngIf="rowData.dateCount > 1"
                >{{ rowData.startDate | date : "dd-MM-yyyy" }} -
                {{ rowData.endDate | date : "dd-MM-yyyy" }}</span
              >
            </ng-container>
            <ng-container
              *ngIf="
                col.field != 'status' &&
                col.field != 'startDate' &&
                col.field != 'createdAt'
              "
            >
              {{ rowData[col.field] || "-" }}
            </ng-container>
          </td>
          <td class="text-center">
            <div
              class="flex flex-wrap justify-content-center align-content-center gap-1"
            >
              <button
                #btn
                type="button"
                pButton
                icon="pi pi-ellipsis-v"
                (click)="toggleMenu(menu, $event, rowData)"
                [disabled]="rowData.isMonthEndDone"
              ></button>

              <!-- Info Button -->
              <button
                type="button"
                pButton
                icon="pi pi-info-circle"
                class="p-button-info"
                (click)="op.toggle($event)"
                [disabled]="rowData.status == 1"
                pTooltip="View Info"
                tooltipPosition="bottom"
              ></button>

              <p-overlayPanel #op>
                <div class="flex flex-column gap-3 w-24rem">
                  <div>
                    <span class="font-medium text-900 block mb-2">{{
                      rowData.status == 2
                        ? "Approved User/Date"
                        : rowData.status == 3
                        ? "Rejected User/Date"
                        : ""
                    }}</span>

                    <p-inputGroup>
                      <input
                        pInputText
                        value="{{
                          rowData.status == 2
                            ? rowData.approvedUser
                            : rowData.status == 3
                            ? rowData.rejectedUser
                            : ''
                        }}"
                        readonly
                        class="w-12rem"
                        [disabled]="true"
                      />
                      <input
                        pInputText
                        value="{{
                          rowData.status == 2
                            ? (rowData.approveDate | date : 'dd-MM-yyyy h:mm a')
                            : rowData.status == 3
                            ? (rowData.rejectDate | date : 'dd-MM-yyyy h:mm a')
                            : ''
                        }}"
                        readonly
                        class="w-12rem"
                        [disabled]="true"
                      />
                    </p-inputGroup>
                  </div>

                  <div *ngIf="rowData.rejectReason || rowData.approveRemark">
                    <span class="font-medium text-900 block mb-2">{{
                      rowData.status == 2
                        ? "Approved Remark"
                        : rowData.status == 3
                        ? "Rejected Remark"
                        : ""
                    }}</span>
                    <textarea
                      pInputTextarea
                      [(ngModel)]="rowData.approveRemark"
                      readonly
                      class="w-24rem"
                      style="resize: none"
                      rows="3"
                      [ngModelOptions]="{ standalone: true }"
                      [disabled]="true"
                      *ngIf="rowData.status == 2"
                    ></textarea>
                    <textarea
                      pInputTextarea
                      [(ngModel)]="rowData.rejectReason"
                      readonly
                      class="w-24rem"
                      style="resize: none"
                      rows="3"
                      [ngModelOptions]="{ standalone: true }"
                      [disabled]="true"
                      *ngIf="rowData.status == 3"
                    ></textarea>
                  </div>
                </div>
              </p-overlayPanel>
            </div>
            <p-tieredMenu
              #menu
              [model]="filteredItems"
              [popup]="true"
              appendTo="body"
            ></p-tieredMenu>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length + 2">
            <div
              class="flex flex-column justify-content-center align-items-center gap-2"
              style="height: 300px"
            >
              <i class="pi pi-inbox text-5xl text-gray-400"></i>
              <small class="">No Leaves Found</small>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</form>
