<form [formGroup]="FV.formGroup" autocomplete="off">
  <!-- <div class="card"> -->
  <div class="grid mt-3 p-4">
    <div class="col-12">
      <div class="p-fluid grid formgrid align-items-end">
        <div class="field mb-3 col-12 md:col-6">
          <label for="postalCode" class="font-medium text-900"
            >Profile Image</label
          >
          <div class="flex gap-4">
            <div
              class="surface-border border-2 border-round surface-card w-9rem h-9rem flex flex-column upload-btn-wrapper text-gray-400"
              [ngClass]="
                profileImageUrl
                  ? 'border-2'
                  : 'border-dashed justify-content-center align-items-center'
              "
            >
              <i class="pi pi-image text-2xl" *ngIf="!profileImageUrl"></i>
              <!-- <img
                [src]="profileImageUrl"
                *ngIf="profileImageUrl"
                class="w-full h-full border-round"
                style="object-fit: cover"
              /> -->
              <p-image
                [src]="profileImageUrl"
                alt="Image"
                [preview]="true"
                *ngIf="profileImageUrl"
              />
            </div>

            <div
              class="flex flex-column gap-2 align-items-center justify-content-center"
            >
              <button
                pButton
                [disabled]="!profileImageUrl"
                type="button"
                label="Remove Image"
                icon="pi pi-times"
                class="p-button-danger p-button-outlined"
                (click)="removeImage(WellKnownUploadType.ProfileImage)"
              ></button>
              <button
                pButton
                type="button"
                label="Upload Image"
                icon="pi pi-camera"
                class="p-button-primary p-button-outlined"
                (click)="openUploadDialog(WellKnownUploadType.ProfileImage)"
              ></button>
            </div>
          </div>
        </div>

        <div class="field mb-3 col-12 md:col-6">
          <label for="postalCode" class="font-medium text-900">NIC Image</label>
          <div class="flex gap-4">
            <div
              class="surface-border border-2 border-round surface-card w-9rem h-9rem flex flex-column upload-btn-wrapper text-gray-400"
              [ngClass]="
                nicImageUrl
                  ? 'border-2'
                  : 'border-dashed justify-content-center align-items-center'
              "
            >
              <i class="pi pi-image text-2xl" *ngIf="!nicImageUrl"></i>
              <!-- <img
                [src]="nicImageUrl"
                *ngIf="nicImageUrl"
                class="w-full h-full border-round"
                style="object-fit: cover"
              /> -->
              <p-image
                [src]="nicImageUrl"
                alt="Image"
                [preview]="true"
                *ngIf="nicImageUrl"
              />
            </div>

            <div
              class="flex flex-column gap-2 align-items-center justify-content-center"
            >
              <button
                pButton
                [disabled]="!nicImageUrl"
                type="button"
                label="Remove Image"
                icon="pi pi-times"
                class="p-button-danger p-button-outlined"
                (click)="removeImage(WellKnownUploadType.NICImage)"
              ></button>
              <button
                pButton
                type="button"
                label="Upload Image"
                icon="pi pi-camera"
                class="p-button-primary p-button-outlined"
                (click)="openUploadDialog(WellKnownUploadType.NICImage)"
              ></button>
            </div>
          </div>
        </div>
        <div class="field mb-3 col-12 md:col-6">
          <label for="postalCode" class="font-medium text-900"
            >Driving License</label
          >
          <div class="flex gap-4">
            <div
              class="surface-border border-2 border-round surface-card w-9rem h-9rem flex flex-column upload-btn-wrapper text-gray-400"
              [ngClass]="
                drivingLicenseUrl
                  ? 'border-2'
                  : 'border-dashed justify-content-center align-items-center'
              "
            >
              <i class="pi pi-image text-2xl" *ngIf="!drivingLicenseUrl"></i>
              <!-- <img
                [src]="drivingLicenseUrl"
                *ngIf="drivingLicenseUrl"
                class="w-full h-full border-round"
                style="object-fit: cover"
              /> -->
              <p-image
                [src]="drivingLicenseUrl"
                alt="Image"
                [preview]="true"
                *ngIf="drivingLicenseUrl"
              />
            </div>

            <div
              class="flex flex-column gap-2 align-items-center justify-content-center"
            >
              <button
                pButton
                [disabled]="!drivingLicenseUrl"
                type="button"
                label="Remove Image"
                icon="pi pi-times"
                class="p-button-danger p-button-outlined"
                (click)="removeImage(WellKnownUploadType.DrivingLicense)"
              ></button>
              <button
                pButton
                type="button"
                label="Upload Image"
                icon="pi pi-camera"
                class="p-button-primary p-button-outlined"
                (click)="openUploadDialog(WellKnownUploadType.DrivingLicense)"
              ></button>
            </div>
          </div>
        </div>
        <div class="field mb-3 col-12 md:col-6">
          <label for="postalCode" class="font-medium text-900"
            >GS Certificate</label
          >
          <div class="flex gap-4">
            <div
              class="surface-border border-2 border-round surface-card w-9rem h-9rem flex flex-column upload-btn-wrapper text-gray-400"
              [ngClass]="
                gsCertificateUrl
                  ? 'border-2'
                  : 'border-dashed justify-content-center align-items-center'
              "
            >
              <i class="pi pi-image text-2xl" *ngIf="!gsCertificateUrl"></i>
              <!-- <img
                [src]="gsCertificateUrl"
                *ngIf="gsCertificateUrl"
                class="w-full h-full border-round"
                style="object-fit: cover"
              /> -->
              <p-image
                [src]="gsCertificateUrl"
                alt="Image"
                [preview]="true"
                *ngIf="gsCertificateUrl"
              />
            </div>

            <div
              class="flex flex-column gap-2 align-items-center justify-content-center"
            >
              <button
                pButton
                [disabled]="!gsCertificateUrl"
                type="button"
                label="Remove Image"
                icon="pi pi-times"
                class="p-button-danger p-button-outlined"
                (click)="removeImage(WellKnownUploadType.GSCertificate)"
              ></button>
              <button
                pButton
                type="button"
                label="Upload Image"
                icon="pi pi-camera"
                class="p-button-primary p-button-outlined"
                (click)="openUploadDialog(WellKnownUploadType.GSCertificate)"
              ></button>
            </div>
          </div>
        </div>
        <div class="field mb-3 col-12 md:col-6">
          <label for="postalCode" class="font-medium text-900"
            >SLTDA Certificate</label
          >
          <div class="flex gap-4">
            <div
              class="surface-border border-2 border-round surface-card w-9rem h-9rem flex flex-column upload-btn-wrapper text-gray-400"
              [ngClass]="
                sltdaCertificateUrl
                  ? 'border-2'
                  : 'border-dashed justify-content-center align-items-center'
              "
            >
              <i class="pi pi-image text-2xl" *ngIf="!sltdaCertificateUrl"></i>
              <!-- <img
                [src]="sltdaCertificateUrl"
                *ngIf="sltdaCertificateUrl"
                class="w-full h-full border-round"
                style="object-fit: cover"
              /> -->
              <p-image
                [src]="sltdaCertificateUrl"
                alt="Image"
                [preview]="true"
                *ngIf="sltdaCertificateUrl"
              />
            </div>

            <div
              class="flex flex-column gap-2 align-items-center justify-content-center"
            >
              <button
                pButton
                [disabled]="!sltdaCertificateUrl"
                type="button"
                label="Remove Image"
                icon="pi pi-times"
                class="p-button-danger p-button-outlined"
                (click)="removeImage(WellKnownUploadType.SLTDACertificate)"
              ></button>
              <button
                pButton
                type="button"
                label="Upload Image"
                icon="pi pi-camera"
                class="p-button-primary p-button-outlined"
                (click)="openUploadDialog(WellKnownUploadType.SLTDACertificate)"
              ></button>
            </div>
          </div>
        </div>
        <div class="field mb-3 col-12 md:col-6">
          <label for="postalCode" class="font-medium text-900"
            >Police Report</label
          >
          <div class="flex gap-4">
            <div
              class="surface-border border-2 border-round surface-card w-9rem h-9rem flex flex-column upload-btn-wrapper text-gray-400"
              [ngClass]="
                policeReportUrl
                  ? 'border-2'
                  : 'border-dashed justify-content-center align-items-center'
              "
            >
              <i class="pi pi-image text-2xl" *ngIf="!policeReportUrl"></i>
              <!-- <img
                [src]="policeReportUrl"
                *ngIf="policeReportUrl"
                class="w-full h-full border-round"
                style="object-fit: cover"
              /> -->
              <p-image
                [src]="policeReportUrl"
                alt="Image"
                [preview]="true"
                *ngIf="policeReportUrl"
              />
            </div>

            <div
              class="flex flex-column gap-2 align-items-center justify-content-center"
            >
              <button
                pButton
                [disabled]="!policeReportUrl"
                type="button"
                label="Remove Image"
                icon="pi pi-times"
                class="p-button-danger p-button-outlined"
                (click)="removeImage(WellKnownUploadType.PoliceReport)"
              ></button>
              <button
                pButton
                type="button"
                label="Upload Image"
                icon="pi pi-camera"
                class="p-button-primary p-button-outlined"
                (click)="openUploadDialog(WellKnownUploadType.PoliceReport)"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
