<form [formGroup]="FV.formGroup" autocomplete="off">
  <div class="p-fluid grid formgrid">
    <div class="field col-12 md:col-5">
      <label for="driverName" class="required">Driver Name</label>
      <p-dropdown
        id="driverName"
        class="w-full"
        [options]="driverArr"
        optionLabel="driverName"
        formControlName="driver"
        [filter]="true"
        appendTo="body"
        [autoOptionFocus]="false"
        (onChange)="onChangeDriver()"
      ></p-dropdown>
    </div>
    <div class="field col-12 md:col-4">
      <label for="salaryPerDay" class="required">Salary Per Day</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">LKR</span>
        <p-inputNumber
          formControlName="salaryPerDay"
          mode="decimal"
          [minFractionDigits]="2"
          [maxFractionDigits]="2"
          [min]="0"
          (onInput)="calculateSalary()"
        ></p-inputNumber>
      </div>
    </div>
    <div class="field col-12 md:col-3">
      <label for="noOfDays" class="required">No of Days</label>
      <p-inputNumber
        formControlName="noOfDays"
        class="w-full"
        [showButtons]="true"
        [max]="100"
        (onInput)="calculateSalary()"
      ></p-inputNumber>
    </div>

    <div class="field col-12 md:col-4">
      <label for="salaryPerDay">Total Additions</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">LKR</span>
        <p-inputNumber
          formControlName="totalAddition"
          mode="decimal"
          [minFractionDigits]="2"
          [maxFractionDigits]="2"
          [min]="0"
          prefix="+ "
          (onInput)="calculateSalary()"
        ></p-inputNumber>
      </div>
    </div>

    <div class="field col-12 md:col-4">
      <label for="salaryPerDay">Total Deductions</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">LKR</span>
        <p-inputNumber
          formControlName="totalDeduction"
          mode="decimal"
          [minFractionDigits]="2"
          [maxFractionDigits]="2"
          [min]="0"
          prefix="- "
          (onInput)="calculateSalary()"
        ></p-inputNumber>
      </div>
    </div>

    <div class="field col-12 md:col-4">
      <label for="salaryPerDay">Expenses Balance</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">LKR</span>
        <p-inputNumber
          formControlName="remainingExpenses"
          mode="decimal"
          [minFractionDigits]="2"
          [maxFractionDigits]="2"
          readonly="true"
          (onInput)="calculateSalary()"
        ></p-inputNumber>
      </div>
    </div>

    <div
      class="field col-5 md:col-6 flex align-items-end"
      *ngIf="isShowToDriver"
    >
      <p-checkbox
        [binary]="true"
        formControlName="isRemainingToDriver"
        label="Remaining Balance to Driver"
        (onChange)="calculateSalary()"
      ></p-checkbox>
    </div>

    <div
      class="field col-7 {{
        isShowToDriver ? 'md:col-6' : 'md:col-12'
      }} flex align-items-end justify-content-end"
    >
      <span class="text-base font-semibold">
        Calculated Salary:
        {{ this.calculatedSalary | currency : "LKR " : "symbol" : "1.2-2" }}
      </span>
    </div>

    <div class="field col-12 md:col-12">
      <div class="flex gap-2" style="float: right">
        <p-button
          styleClass="p-button-secondary p-button-sm mb:p-button"
          label="Cancel"
          icon="pi pi-times"
          (click)="onClickCancel()"
        ></p-button>

        <p-button
          styleClass="p-button-success p-button-sm mb:p-button"
          label="Save"
          icon="pi pi-save"
          (click)="onClickSave()"
        ></p-button>
      </div>
    </div>
  </div>
</form>
