<p-table
  #dt
  styleClass=""
  [columns]="cols"
  [value]="recodes"
  dataKey="_id"
  [rows]="10"
  responsiveLayout="stack"
  [breakpoint]="'960px'"
  styleClass="p-datatable-gridlines"
  [rowsPerPageOptions]="[10, 25, 50]"
  [paginator]="true"
  [rowHover]="true"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [globalFilterFields]="['fullName', 'userName']"
  [scrollable]="true"
  [scrollHeight]="'calc(100vh - 300px)'"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th
        *ngFor="let col of columns"
        [ngClass]="{
          'text-center':
            col.field == 'status' ||
            col.field == 'availableLeaveCount' ||
            col.field == 'dateCount'
        }"
      >
        {{ col.header }}
      </th>
      <th class="text-center">Action</th>
    </tr>
  </ng-template>

  <ng-template
    pTemplate="body"
    let-rowData
    let-columns="columns"
    let-rowIndex="rowIndex"
  >
    <tr>
      <td
        *ngFor="let col of columns"
        [ngClass]="{
          'bg-blue': rowIndex % 2 !== 0,
          'text-center':
            col.field == 'status' ||
            col.field == 'availableLeaveCount' ||
            col.field == 'dateCount'
        }"
      >
        <ng-container *ngIf="col.field == 'status'">
          <span class="p-column-title font-bold">Status</span>
          <div class="text-center">
            <p-button
              [severity]="
                rowData.status == 1
                  ? 'secondary'
                  : rowData.status == 2
                  ? 'success'
                  : 'danger'
              "
              outlined="true"
              label="{{ rowData.statusName }}"
            ></p-button>
          </div>
        </ng-container>

        <ng-container *ngIf="col.field == 'createdAt'">
          <span class="p-column-title font-bold">Applied Date</span>
          <span>{{ rowData.createdAt | date : "dd-MM-yyyy HH:mm" }}</span>
        </ng-container>

        <ng-container *ngIf="col.field == 'startDate'">
          <span class="p-column-title font-bold">Requested Dates</span>
          <span *ngIf="rowData.dateCount == 1">{{
            rowData.startDate | date : "dd/MM/yyyy"
          }}</span>
          <span *ngIf="rowData.dateCount > 1"
            >{{ rowData.startDate | date : "dd-MM-yyyy" }} -
            {{ rowData.endDate | date : "dd-MM-yyyy" }}</span
          >
        </ng-container>
        <ng-container *ngIf="col.field == 'appliedUserName'">
          <span class="p-column-title font-bold">Applied By</span
          >{{ rowData[col.field] || "-" }}
        </ng-container>
        <ng-container *ngIf="col.field == 'appliedUserRole'">
          <span class="p-column-title font-bold">User Type</span
          >{{ rowData[col.field] || "-" }}
        </ng-container>
        <ng-container *ngIf="col.field == 'availableLeaveCount'">
          <span class="p-column-title font-bold">Available Leave Count</span
          >{{ rowData[col.field] || "-" }}
        </ng-container>
        <ng-container *ngIf="col.field == 'dateCount'">
          <span class="p-column-title font-bold">Requested Leave Count</span
          >{{ rowData[col.field] || "-" }}
        </ng-container>
        <ng-container *ngIf="col.field == 'reason'">
          <span class="p-column-title font-bold">Reason</span
          >{{ rowData[col.field] || "-" }}
        </ng-container>
        <!-- <ng-container
        *ngIf="
          col.field != 'status' &&
          col.field != 'startDate' &&
          col.field != 'createdAt'
        "
      >
        {{ rowData[col.field] || "-" }}
      </ng-container> -->
      </td>
      <td
        class="text-center"
        [ngClass]="{
        'bg-blue': rowIndex % 2 !== 0,
      }"
      >
        <div
          class="flex flex-wrap justify-content-center align-content-center gap-1"
        >
          <button
            #btn
            type="button"
            pButton
            icon="pi pi-ellipsis-v"
            (click)="toggleMenu(menu, $event, rowData)"
            [disabled]="rowData.isMonthEndDone"
          ></button>
        </div>
        <p-tieredMenu
          #menu
          [model]="filteredItems"
          [popup]="true"
          appendTo="body"
        ></p-tieredMenu>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length + 2">
        <div
          class="flex flex-column justify-content-center align-items-center gap-2"
          style="height: calc(100vh - 410px)"
        >
          <i class="pi pi-inbox text-5xl text-gray-400"></i>
          <small class="">No Users Found</small>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
