<!-- <form [formGroup]="FV.formGroup" autocomplete="off">
  <div class="p-fluid grid formgrid align-items-start p-4">
    <div class="field col-12 md:col-6">
      <div class="p-fluid grid formgrid">
        <div class="field col-12 md:col-6">
          <label class="required" for="startDate">Start Date</label>
          <input
            pInputText
            type="date"
            formControlName="startDate"
            class="w-full"
          />
        </div>
        <div class="field col-12 md:col-6">
          <label class="required" for="endDate">End Date</label>
          <input
            pInputText
            type="date"
            formControlName="endDate"
            class="w-full"
          />
        </div>
        <div class="field col-12">
          <hr />
        </div>
        <div class="field col-12 md:col-12">
          <div class="field col-12">
            <label class="text-xl font-bold">Guest Details</label>
          </div>

          <p-table
            #dt
            styleClass=""
            [columns]="cols"
            [value]="recodes"
            responsiveLayout="stack"
            [breakpoint]="'960px'"
            dataKey="_id"
            [responsive]="true"
            styleClass="p-datatable-gridlines"
            [loading]="loading"
            [rowHover]="true"
            scrollHeight="300px"
            scrollable="true"
          >
            <ng-template pTemplate="caption">
              <div class="flex justify-content-between mb-2">
                <p-button
                  styleClass="p-button-sm p-button-success"
                  icon="pi pi-plus"
                  label="Add Guest"
                  (onClick)="onClickAddNewGuest()"
                ></p-button>
                <p-iconField iconPosition="left" class="ml-auto">
                  <p-inputIcon>
                    <i class="pi pi-search"></i>
                  </p-inputIcon>
                  <input
                    pInputText
                    type="text"
                    (input)="
                      dt.filterGlobal($any($event.target).value, 'contains')
                    "
                    placeholder="Search Guest"
                  />
                </p-iconField>

              </div>
              <ng-container class="mt-3" *ngIf="isAddNewGuest">
                <div class="p-fluid grid formgrid align-items-end">
                  <div class="field col-12 md:col-12">
                    <label class="required" for="guestName">Guest Name</label>
                    <input
                      pInputText
                      type="text"
                      formControlName="guestName"
                      class="w-full"
                    />
                  </div>
                  <div class="field col-12 md:col-6">
                    <label class="required" for="nationality"
                      >Nationality</label
                    >
                    <input
                      pInputText
                      type="text"
                      formControlName="nationality"
                      class="w-full"
                    />
                  </div>
                  <div class="field col-12 md:col-4">
                    <label class="required" for="age">Age</label>
                    <input
                      pInputText
                      type="number"
                      formControlName="age"
                      class="w-full"
                    />
                  </div>
                  <div class="field col-12 md:col-2">
                    <p-button
                      styleClass="p-button-sm p-button-success"
                      icon="pi pi-plus"
                      pTooltip="Add"
                      (onClick)="onClickSaveGuest()"
                    ></p-button>
                  </div>
                </div>
              </ng-container>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns">
                  {{ col.header }}
                </th>
                <th class="text-center">Action</th>
              </tr>
            </ng-template>
            <ng-template
              pTemplate="body"
              let-rowData
              let-columns="columns"
              let-rowIndex="rowIndex"
            >
              <tr>
                <td
                  *ngFor="let col of columns"
                  [ngClass]="{
          'bg-blue': rowIndex % 2 !== 0,
        }"
                >
                  <ng-container *ngIf="col.field == 'guestName'">
                    <span class="p-column-title font-bold">Guest Name</span
                    >{{ rowData[col.field] }}
                  </ng-container>
                  <ng-container *ngIf="col.field == 'nationality'">
                    <span class="p-column-title font-bold">Nationality</span
                    >{{ rowData[col.field] }}
                  </ng-container>
                  <ng-container *ngIf="col.field == 'age'">
                    <span class="p-column-title font-bold">Ages</span
                    >{{ rowData[col.field] }}
                  </ng-container>
                </td>
                <td
                  class="text-center"
                  [ngClass]="{
              'bg-blue': rowIndex % 2 !== 0,
            }"
                >
                  <div
                    class="flex flex-wrap justify-content-center align-content-center gap-1"
                  >
                    <p-button
                      styleClass="p-button-sm p-button-danger p-button-outlined"
                      icon="pi pi-trash"
                      (onClick)="onClickDeleteGuest()"
                    ></p-button>
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="columns.length + 2">
                  <div
                    class="flex flex-column justify-content-center align-items-center gap-2"
                    style="height: 100%; width: 100%"
                  >
                    <i class="pi pi-inbox text-5xl text-gray-400"></i>
                    <small class="">No Guests Found</small>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div class="field col-12">
          <hr />
        </div>
        <div class="field col-12">
          <label class="text-xl font-bold">Additional Details</label>
        </div>
        <div class="field col-12 md:col-6">
          <label class="required" for="totalINcome">Total Income</label>
          <input
            pInputText
            type="number"
            formControlName="totalINcome"
            class="w-full"
          />
        </div>
        <div class="field col-12 md:col-6">
          <label class="required" for="estimatedCost">Estimated Expenses</label>
          <input
            pInputText
            type="number"
            formControlName="estimatedCost"
            class="w-full"
          />
        </div>
      </div>
    </div>
    <div class="field col-12 md:col-6">
      <p-orderList
        [value]="products"
        [listStyle]="{ 'max-height': '30rem' }"
        [dragdrop]="true"
        filterBy="name"
        filterPlaceholder="Filter by Places"
      >
        <ng-template pTemplate="header">
          <div class="flex justify-content-between align-items-center">
            <span>List of Places</span>
            <p-button
              styleClass="p-button-sm p-button-success"
              icon="pi pi-plus"
              label="Add Place"
              (onClick)="onClickAddNew()"
            ></p-button>
          </div>
          <ng-container *ngIf="isAddNewDesigation">
            <hr />
            <div class="p-fluid grid formgrid align-items-end">
              <div class="field col-12 md:col-12">
                <label for="placeName">Place Name</label>
                <input
                  pInputText
                  type="text"
                  class="w-full"
                  formControlName="placeName"
                />
              </div>
              <div class="field col-12 md:col-6">
                <label for="distance">Distance</label>
                <input
                  pInputText
                  type="number"
                  class="w-full"
                  formControlName="distance"
                />
              </div>
              <div class="field col-12 md:col-6">
                <p-button
                  styleClass="p-button-success"
                  icon="pi pi-save"
                  label="Submit"
                  (onClick)="onClickSubmit()"
                ></p-button>
              </div>
            </div>
            <hr />
          </ng-container>
        </ng-template>
        <ng-template let-product pTemplate="item">
          <div class="flex flex-wrap p-2 align-items-center gap-3">
            <div class="flex-1 flex flex-column gap-2">
              <span class="font-bold">{{ product.name }}</span>
              <div class="flex align-items-center gap-2">
                <i class="pi pi-tag text-sm"></i>
                <span>{{ product.category }}</span>
              </div>
            </div>
            <span class="font-bold text-900">{{ product.distance }}</span>
            <p-button
              styleClass="p-button-sm p-button-danger p-button-outlined"
              icon="pi pi-trash"
              (onClick)="onClickDelete()"
            ></p-button>
          </div>
        </ng-template>
      </p-orderList>
    </div>
  </div>
  <ng-template #templateRef>
    <div class="flex justify-content-end align-items-center gap-2">
      <p-button
        label="Cancel"
        icon="pi pi-times"
        styleClass="p-button-secondary"
        (onClick)="onClickCancel()"
      ></p-button>
      <p-button
        [label]="!isEdit ? 'Save' : 'Update'"
        icon="pi pi-save"
        iconPos="left"
        (onClick)="onClickSave()"
      ></p-button>
    </div>
  </ng-template>
</form> -->

<!-- <form [formGroup]="FV.formGroup" autocomplete="off"></form> -->
<p-toast />
<p-steps
  [model]="items"
  [(ngModel)]="value"
  [readonly]="false"
  [activeIndex]="showingIndex"
  (activeIndexChange)="handleClick($event)"
>
</p-steps>

<hr />
<app-general-information *ngIf="showingIndex == 0"></app-general-information>
<app-guest-information *ngIf="showingIndex == 1"></app-guest-information>
<app-trip-informations *ngIf="showingIndex == 2"></app-trip-informations>
<app-other-information *ngIf="showingIndex == 3"></app-other-information>

<ng-template #templateRef>
  <div class="flex justify-content-end align-items-center gap-2">
    <p-button
      label="Cancel"
      icon="pi pi-times"
      styleClass="p-button-secondary"
      (click)="handleCancel()"
    ></p-button>

    <p-button
      label="Update"
      icon="pi pi-save"
      iconPos="left"
      *ngIf="isEdit && showingIndex != 2"
      (click)="handleUpdate(showingIndex)"
    ></p-button>

    <p-button
      label="Next"
      icon="pi pi-angle-double-right"
      iconPos="left"
      *ngIf="showingIndex != 2"
      (click)="handleSave(showingIndex)"
    ></p-button>

    <p-button
      label="{{ isEdit ? 'Update' : 'Save' }}"
      icon="pi pi-save"
      iconPos="left"
      *ngIf="showingIndex == 2"
      (click)="handleSave(2)"
    ></p-button>
  </div>
</ng-template>
