<!-- <div class="card"> -->
<div class="flex justify-content-between align-items-center mb-4">
  <div class="text-2xl font-semibold">Trip Management</div>
  <p-button
    styleClass=" mr-2"
    icon="pi pi-plus"
    label="Add New Trip"
    (onClick)="onClickAddNew()"
  ></p-button>
</div>
<p-table
  #dt
  styleClass=""
  [columns]="cols"
  [value]="recodes"
  responsiveLayout="stack"
  [breakpoint]="'960px'"
  dataKey="_id"
  [rows]="10"
  [responsive]="true"
  styleClass="p-datatable-gridlines"
  [rowsPerPageOptions]="[10, 25, 50]"
  [paginator]="true"
  [rowHover]="true"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [globalFilterFields]="['tripConfirmedNumber', 'email', 'phoneNumber']"
>
  <ng-template pTemplate="caption">
    <div class="flex justify-content-between">
      <button
        type="button"
        pButton
        pRipple
        icon="pi pi-file-excel"
        class="p-button-success"
        pTooltip="Export to XLS"
        tooltipPosition="right"
        (click)="exportToExcel()"
      ></button>

      <p-iconField iconPosition="left" class="ml-auto">
        <p-inputIcon>
          <i class="pi pi-search"></i>
        </p-inputIcon>
        <input
          pInputText
          type="text"
          (input)="dt.filterGlobal($any($event.target).value, 'contains')"
          placeholder="Search Trip"
        />
      </p-iconField>

      <!-- </div> -->
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th
        *ngFor="let col of columns"
        [ngClass]="{
          'text-center': col.field == 'status',
          'text-right': col.field == 'totalCost'
        }"
      >
        {{ col.header }}
      </th>
      <th class="text-center">Action</th>
    </tr>
  </ng-template>
  <ng-template
    pTemplate="body"
    let-rowData
    let-columns="columns"
    let-rowIndex="rowIndex"
  >
    <tr>
      <td
        *ngFor="let col of columns"
        [ngClass]="{
          'bg-blue': rowIndex % 2 !== 0,
        }"
      >
        <ng-container *ngIf="col.field == 'startDate'">
          <span class="p-column-title font-bold">Start Date</span>
          {{ rowData[col.field] | date : "dd-MM-yyyy" }}
        </ng-container>
        <ng-container *ngIf="col.field == 'endDate'">
          <span class="p-column-title font-bold">Applied Date</span>
          {{ rowData[col.field] | date : "dd-MM-yyyy" }}
        </ng-container>
        <ng-container *ngIf="col.field == 'contact'">
          <span class="p-column-title font-bold">Contact Details</span>
          <div class="flex flex-column gap-1">
            <span>
              <i class="pi pi-whatsapp"></i>
              {{ rowData.phoneNumber }}
            </span>

            <span
              ><i class="pi pi-user"></i>
              {{ rowData.contactPerson ? rowData.contactPerson : "" }}
            </span>
          </div>
        </ng-container>
        <ng-container *ngIf="col.field == 'status'">
          <span class="p-column-title font-bold">Status</span>
          <div class="text-center">
            <p-button
              [severity]="
                rowData.status == 1
                  ? 'secondary'
                  : rowData.status == 3
                  ? 'info'
                  : rowData.status == 4
                  ? 'success'
                  : 'danger'
              "
              outlined="true"
              label="{{ rowData.statusName }}"
            ></p-button>
          </div>
        </ng-container>

        <ng-container
          *ngIf="
            col.field != 'startDate' &&
            col.field != 'endDate' &&
            col.field != 'contact' &&
            col.field != 'status'
          "
        >
          <span class="p-column-title font-bold">{{ col.header }}</span>
          {{ rowData[col.field] || "-" }}
        </ng-container>
      </td>
      <td
        class="text-center"
        [ngClass]="{
                'bg-blue': rowIndex % 2 !== 0,
              }"
      >
        <div
          class="flex flex-wrap justify-content-center align-content-center gap-1"
        >
          <!-- <span class="p-column-title font-bold">Action</span> -->
          <!-- <button
            type="button"
            pButton
            pTooltip="Assign Driver and Vehicle"
            tooltipPosition="bottom"
            class="p-button-outlined p-button-warning"
            icon="pi pi-check-circle"
            (click)="onClickAssignDriverAndVehicle()"
          ></button> -->
          <button
            #btn
            type="button"
            pButton
            class="ml-2"
            icon="pi pi-ellipsis-v"
            (click)="toggleMenu(menu, $event, rowData)"
          ></button>
          <p-tieredMenu
            #menu
            [model]="filteredItems"
            [popup]="true"
            appendTo="body"
          ></p-tieredMenu>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length + 2">
        <div
          class="flex flex-column justify-content-center align-items-center gap-2"
          style="height: 300px; width: 100%"
        >
          <i class="pi pi-inbox text-5xl text-gray-400"></i>
          <small class="">No Trip Found</small>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
<!-- </div> -->
