<!-- <form [formGroup]="FV.formGroup" autocomplete="off"></form> -->

<p-steps
  [model]="items"
  [(ngModel)]="value"
  [readonly]="false"
  [activeIndex]="showingIndex"
  (activeIndexChange)="handleClick($event)"
>
</p-steps>

<hr />
<app-personal-details *ngIf="showingIndex == 0"></app-personal-details>
<app-bank-details *ngIf="showingIndex == 1"></app-bank-details>
<app-upload-verifications *ngIf="showingIndex == 2"></app-upload-verifications>

<ng-template #templateRef>
  <div class="flex justify-content-end align-items-center gap-2">
    <p-button
      label="Cancel"
      icon="pi pi-times"
      styleClass="p-button-secondary"
      (click)="handleCancel()"
    ></p-button>

    <p-button
      label="Update"
      icon="pi pi-save"
      iconPos="left"
      *ngIf="isEdit && showingIndex != 2"
      (click)="handleUpdate(showingIndex)"
    ></p-button>

    <p-button
      label="Next"
      icon="pi pi-angle-double-right"
      iconPos="left"
      *ngIf="showingIndex != 2"
      (click)="handleSave(showingIndex)"
    ></p-button>

    <p-button
      label="{{ isEdit ? 'Update' : 'Save' }}"
      icon="pi pi-save"
      iconPos="left"
      *ngIf="showingIndex == 2"
      (click)="handleSave(2)"
    ></p-button>
  </div>
</ng-template>
