<div class="flex">
  <div class="surface-section w-full md:w-5 p-6 md:px-8 py-6">
    <div class="mb-2">
      <img src="assets/intapms.png" alt="Image" height="100" class="mb-1" />
      <div class="text-900 text-3xl font-medium">Welcome Back</div>
      <span class="text-600 font-medium mr-2">Don't have an account?</span>
      <a class="font-medium no-underline text-blue-500 cursor-pointer"
        >Create today!</a
      >
    </div>
    <form [formGroup]="FV.formGroup" (ngSubmit)="handleSubmit()">
      <label for="email" class="block text-900 font-medium mb-2"
        >Username</label
      >
      <input
        id="text"
        type="text"
        placeholder="Username"
        pInputText
        formControlName="username"
        class="w-full p-3"
      />
      <small class="p-error">{{ FV.getError("username") }}</small>

      <label for="password2" class="block text-900 font-medium mt-3 mb-2"
        >Password</label
      >
      <!-- <input
        id="password"
        type="password"
        placeholder="Password"
        pInputText
        formControlName="password"
        class="w-full p-3"
      /> -->
      <span class="p-input-icon-right w-full">
        <i
          class="pi {{
            passwordType === 'password' ? 'pi-eye-slash' : 'pi-eye'
          }}"
          (click)="
            passwordType = passwordType === 'password' ? 'text' : 'password'
          "
        ></i>
        <input
          id="password"
          type="{{ passwordType }}"
          placeholder="Password"
          pInputText
          formControlName="password"
          class="w-full p-3"
        />
      </span>
      <small class="p-error">{{ FV.getError("password") }}</small>

      <!-- <label for="password2" class="block text-900 font-medium mb-2 mt-3"
        >Hotel ID</label
      >
      <input
        id="hotelId"
        type="text"
        placeholder="Hotel ID"
        pInputText
        formControlName="hotelId"
        class="w-full p-3"
      />

      <small class="p-error">{{ FV.getError("hotelId") }}</small> -->

      <button
        pButton
        pRipple
        label="Sign In"
        class="w-full p-3 mt-4"
        (click)="onLogin()"
      ></button>

      <div class="flex justify-content-center mt-2">
        <a class="text-bluegray-900">
          <small>
            Version {{ systemInformation?.versionNumber }} | copyright intahub
            pvt ltd - 2019</small
          >
        </a>
      </div>
    </form>
  </div>
  <!--      style="background-image: url('assets/video/login.gif')"
    -->
  <div class="hidden md:block w-7 bg-no-repeat bg-cover">
    <!-- <video
      id="background-video"
      autoplay
      loop
      muted
      poster="../../../../assets/video/login.mp4"
    >
      <source src="../../../../assets/video/login.mp4" type="video/mp4" />
    </video> 
        poster="assets/video/login.gif"

  -->

    <video id="background-video" playsinline autoplay [muted]="true" loop>
      <source src="../../../../assets/video/login.mp4" type="video/webm" />
    </video>
  </div>
</div>
