<form [formGroup]="FV.formGroup" autocomplete="off">
  <div class="p-fluid grid formgrid  mt-2 p-3">

    <div class="field col-12 md:col-4">
      <label for="vehicle" class="required">Vehicle</label>
      <p-dropdown id="vehicle" styleClass="w-full " [options]="vehicles" optionLabel="registrationNumber"
        optionValue="_id" formControlName="vehicle" appendTo="body" [autoOptionFocus]="false"
        [filter]="true"></p-dropdown>
    </div>

    <div class="field col-12 md:col-4">
      <label for="garage" class="required">Garage</label>
      <p-dropdown id="garage" styleClass="w-full " [options]="garages" optionLabel="name" optionValue="_id"
        formControlName="garage" appendTo="body" [autoOptionFocus]="false" [filter]="true"></p-dropdown>
    </div>

    <div class="field col-12 md:col-4">
      <label for="maintenancePart" class="required">Maintenance Part</label>
      <input id="maintenancePart" pInputText type="text" class="w-full" formControlName="maintenancePart" />
    </div>

    <div class="field col-12 md:col-4">
      <label for="maintenanceDate" class="required">Maintenance Date</label>
      <p-calendar formControlName="maintenanceDate" dateFormat="dd-mm-yy" [showTime]="false" appendTo="body"
        [minDate]="minDate" [maxDate]="maxDate"></p-calendar>
    </div>

    <div class="field col-12 md:col-4">
      <label for="maintenanceCost" class="required">Maintenance Cost</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">LKR</span>
        <p-inputNumber formControlName="cost" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2"
          [min]="0"></p-inputNumber>
      </div>
    </div>

    <div class="field col-12 md:col-12">
      <label for="note">Note</label>
      <textarea id="note" pInputText type="text" class="w-full" formControlName="note" rows="3"
        style="resize: none"></textarea>
    </div>

    <div class="field col-12" *ngIf="(isView && invoiceImages.length > 0 || !isView)">
      <hr />
      <div class="mt-3">
        <div class="flex justify-content-between align-items-center">
          <label class="text-xl font-bold">Maintenance Invoices</label>
          <p-button icon="pi pi-camera" styleClass="p-button-primary p-button-outlined" *ngIf="!isView"
            pTooltip="Upload Damage" tooltipPosition="right" (onClick)="openCameraView()"></p-button>
        </div>

        <div class="text-500 mb-3"></div>

        <div *ngIf="!isView && invoiceImages.length == 0"
          class="flex lg:align-items-start flex-column lg:flex-row p-4 bg-blue-50 border-round border-1 border-blue-300">
          <div class="flex align-items-start">
            <i class="pi pi-cloud-upload text-blue-900 text-2xl mr-3"></i>
            <div class="mr-3 flex lg:align-items-start flex-column lg:flex-row">
              <p class="m-0 p-0 text-blue-700 line-height-3">Maintenance invoice images will be uploaded here</p>
            </div>
          </div>
          <a pRipple (click)="openCameraView()"
            class="flex align-items-center ml-auto no-underline text-blue-900 font-medium mt-3 lg:mt-0 cursor-pointer">
            <span>Upload Invoice</span>
            <i class="pi pi-arrow-circle-down text-blue-900 ml-2"></i>
          </a>
        </div>

        <ng-container *ngIf="invoiceImages.length > 0">
          <div class="flex flex-wrap gap-3">
            <ng-container *ngFor="let image of invoiceImages">
              <div
                class="surface-border border-2 border-round surface-card w-9rem h-9rem flex flex-column upload-btn-wrapper text-gray-400"
                [ngClass]="
                image.url
                  ? 'border-2'
                  : 'border-dashed justify-content-center align-items-center'
              ">
                <i class="pi pi-image text-2xl" *ngIf="!image.url"></i>
                <div class="image-container">
                  <p-image [src]="image.url" alt="Image" [preview]="true" *ngIf="image.url"></p-image>
                  <button pButton type="button" icon="pi pi-trash" class="p-button-text p-button-danger remove-btn"
                    pTooltip="Remove" tooltipPosition="right" *ngIf="!isView" (click)="removeImage(image._id)">
                  </button>
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>

        <div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #templateRef>
    <div class="flex justify-content-end align-items-center gap-2" *ngIf="!isView">
      <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary p-button-sm mb:p-button"
        (onClick)="onClickCancel()"></p-button>
      <p-button label="Save" icon="pi pi-save" iconPos="left" styleClass="p-button-sm mb:p-button"
        (onClick)="onClickSave()"></p-button>
    </div>
  </ng-template>
</form>