<!-- <div class="card"> -->
<div class="mb-4">
  <!-- <div class="text-2xl font-semibold">Trip Management</div> -->
  <div class="p-fluid formgrid grid">
    <div class="field col-4 md:col-4">
      <div class="card h-full">
        <div class="text-center">
          <div for="amount" class="text-base md:text-2xl font-semibold">
            {{ expensesInfo?.tripExpensesAmount | currency : "" : "" }}
          </div>
          <div for="amount" class="text-sm md:text-base">Estimated Expense</div>
        </div>
      </div>
    </div>
    <div class="field col-4 md:col-4">
      <div class="card h-full">
        <div class="text-center">
          <div for="amount" class="text-base md:text-2xl font-semibold">
            {{ expensesInfo?.totalTripExpensesAmount | currency : "" : "" }}
          </div>
          <div for="amount" class="text-sm md:text-base">Total Expense</div>
        </div>
      </div>
    </div>
    <div class="field col-4 md:col-4">
      <div class="card h-full">
        <div class="text-center">
          <div for="amount" class="text-base md:text-2xl font-semibold">
            {{ expensesInfo?.remainingTripExpensesAmount | currency : "" : "" }}
          </div>
          <div for="amount" class="text-sm md:text-base">Remaining Expense</div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="flex gap-2">
    <div class="card">
      <div class="flex gap-2">
        <label for="Amount">Amount</label>
        <label for="Amount">15200.00</label>
      </div>
    </div>
    <div class="card">
      <div class="flex gap-2">
        <label for="Amount">Amount</label>
        <label for="Amount">15200.00</label>
      </div>
    </div>
  </div> -->

  <!-- <p-button
    styleClass="mr-2 p-button-success"
    icon="pi pi-plus"
    label="Add New Expense"
    (onClick)="onClickAddNew()"
  ></p-button> -->
</div>
<p-table
  #dt
  styleClass=""
  [columns]="cols"
  [value]="recodes"
  responsiveLayout="stack"
  [breakpoint]="'960px'"
  dataKey="_id"
  [rows]="10"
  [responsive]="true"
  styleClass="p-datatable-gridlines"
  [rowsPerPageOptions]="[10, 25, 50]"
  [paginator]="true"
  [rowHover]="true"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [globalFilterFields]="['tripConfirmedNumber', 'email', 'phoneNumber']"
>
  <ng-template pTemplate="caption" *ngIf="!isMonthEndDone">
    <div class="flex flex-wrap justify-content-between">
      <p-button
        styleClass="mr-2 p-button-success"
        icon="pi pi-plus"
        label="Add New Expense"
        (onClick)="onClickAddNew()"
      ></p-button>
      <!-- <p-iconField iconPosition="left" class="ml-auto">
        <p-inputIcon>
          <i class="pi pi-search"></i>
        </p-inputIcon>
        <input
          pInputText
          type="text"
          (input)="dt.filterGlobal($any($event.target).value, 'contains')"
          placeholder="Search Expense"
        />
      </p-iconField> -->

      <!-- </div> -->
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th
        *ngFor="let col of columns"
        [ngClass]="{
          'text-center': col.field == 'status',
          'text-right': col.field == 'totalCost'
        }"
      >
        {{ col.header }}
      </th>
      <th class="text-center">Action</th>
    </tr>
  </ng-template>
  <ng-template
    pTemplate="body"
    let-rowData
    let-columns="columns"
    let-rowIndex="rowIndex"
  >
    <tr>
      <td
        *ngFor="let col of columns"
        [ngClass]="{
                'bg-blue': rowIndex % 2 !== 0,
              }"
      >
        <ng-container *ngIf="col.field == 'typeId'">
          <span class="p-column-title font-bold">Type ID</span>
          {{ rowData[col.field] }}
        </ng-container>
        <ng-container *ngIf="col.field == 'typeName'">
          <span class="p-column-title font-bold">Type Name</span>
          {{ rowData[col.field] }}
        </ng-container>
        <ng-container *ngIf="col.field == 'amount'">
          <span class="p-column-title font-bold">Amount</span>
          {{ rowData[col.field] | number : "1.2-2" }}
        </ng-container>
        <ng-container *ngIf="col.field == 'description'">
          <span class="p-column-title font-bold">Description</span>
          <span pTooltip="{{ rowData[col.field] }}" tooltipPosition="bottom">{{
            rowData[col.field] | truncate : 30
          }}</span>
        </ng-container>
        <ng-container *ngIf="col.field == 'date'">
          <span class="p-column-title font-bold">Date</span>
          {{ rowData[col.field] | date : "dd-MM-yyyy" }}
        </ng-container>
      </td>
      <td
        class="text-center w-2"
        [ngClass]="{
                      'bg-blue': rowIndex % 2 !== 0,
                    }"
      >
        <div
          class="flex flex-wrap justify-content-center align-content-center gap-1"
        >
          <!-- <span class="p-column-title font-bold">Action</span> -->
          <!-- <button
            type="button"
            pButton
            pTooltip="Print"
            tooltipPosition="bottom"
            class="p-button-help"
            icon="pi pi-print"
          ></button> -->
          <button
            #btn
            type="button"
            pButton
            class=""
            icon="pi pi-ellipsis-v"
            (click)="toggleMenu(menu, $event, rowData)"
          ></button>
          <p-tieredMenu
            #menu
            [model]="filteredItems"
            [popup]="true"
            appendTo="body"
          ></p-tieredMenu>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length + 2">
        <div
          class="flex flex-column justify-content-center align-items-center gap-2"
          style="height: 300px; width: 100%"
        >
          <i class="pi pi-inbox text-5xl text-gray-400"></i>
          <small class="">No Expense Found</small>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
<!-- </div> -->
