<div class="flex flex-column surface-ground">
  <div class="fixed" style="width: 100%">
    <div class="surface-overlay p-3 flex align-items-center justify-content-between">
      <a pRipple class="cursor-pointer inline-flex align-items-center justify-content-center lg:hidden text-700"
        pStyleClass="#app-sidebar-12" enterFromClass="hidden" enterActiveClass="fadeinleft" leaveToClass="hidden"
        leaveActiveClass="fadeoutleft" [hideOnOutsideClick]="true">
        <i class="pi pi-bars text-4xl"></i>
      </a>
      <img src="assets/signin-4.png" alt="Image" height="40" class="mr-0 lg:mr-6" />
      <a pRipple class="cursor-pointer block lg:hidden text-700" pStyleClass="@next" enterFromClass="hidden"
        leaveToClass="hidden" [hideOnOutsideClick]="true">
        <!-- <i class="pi pi-ellipsis-v text-2xl"></i> -->
        <div class="surface-card shadow-1 p-2 pl-2 pr-2 font-bold text-medium">
          <div class="flex justify-content-center align-items-center gap-2">
            <div class="status-dot"></div>
            <span class="block font-medium">{{ showWorkingDate }}</span>
            <!-- <span class="block font-medium"></span> -->
          </div>
        </div>
      </a>
      <ul
        class="list-none p-3 lg:p-0 m-0 lg:align-items-center select-none flex-column lg:flex-row absolute hidden lg:flex lg:static surface-overlay right-0 top-100 z-1 shadow-2 lg:shadow-none">
        <li class="lg:mr-2">
          <div class="surface-card shadow-1 p-2 pl-2 pr-2 font-bold text-medium">
            <div class="flex justify-content-center align-items-center gap-2">
              <div class="status-dot"></div>
              <span class="block font-medium">{{ showWorkingDate }}</span>
              <!-- <span class="block font-medium"></span> -->
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="flex p-3">
      <div id="app-sidebar-12"
        class="surface-card hidden lg:block flex-shrink-0 absolute lg:static left-0 top-0 z-1 select-none shadow-2"
        style="width: 280px; border-radius: 12px; height: auto">
        <div class="flex flex-column h-full">
          <div class="overflow-y-auto">
            <div class="p-3">
              <div class="p-input-icon-left w-full">
                <i class="pi pi-search"></i>
                <input type="text" pInputText class="border-1 surface-border w-full" placeholder="Search"
                  style="border-radius: 30px" />
              </div>
            </div>

            <ul class="p-0 m-0 overflow-hidden">
              <ng-container *ngFor="let item of DynamicItems">
                <ng-container *ngIf="!item?.isExpanded">
                  <li *ngIf="item.isVisible">
                    <!-- routerLink="{{ item?.routerLink ? item?.routerLink : '' }}" -->
                    <a id="{{ item.label }}" pRipple (click)="
                      item?.command
                        ? item?.command($event)
                        : moveToRouter(item?.routerLink)
                    " [ngClass]="activeTab === item.menuId ? 'bg-demo' : ''"
                      class="flex align-items-center cursor-pointer p-3 text-700 hover:bg-blue-50">
                      <i class="{{ item.icon }} mr-2" [ngClass]="activeTab === item.menuId ? 'demo' : ''"></i>
                      <span class="font-medium text-medium" [ngClass]="activeTab === item.menuId ? 'demo' : ''">{{
                        item.label }}</span>
                    </a>
                  </li>
                </ng-container>

                <ng-container *ngIf="item?.isExpanded">
                  <li *ngIf="item.isVisible">
                    <a pRipple
                      class="flex align-items-center cursor-pointer p-3 text-700 hover:surface-100 transition-duration-150 transition-colors border-right-2 border-transparent"
                      pStyleClass="@next" enterClass="hidden" enterActiveClass="slidedown" leaveToClass="hidden"
                      leaveActiveClass="slideup" [ngClass]="activeMainTab === item.menuId ? 'bg-demo' : ''">
                      <i class="pi {{ item.icon }} mr-2" [ngClass]="activeMainTab === item.menuId ? 'demo' : ''"></i>
                      <span class="font-medium" [ngClass]="activeMainTab === item.menuId ? 'demo' : ''">
                        {{ item.label }}
                      </span>
                      <i class="pi pi-chevron-down ml-auto"></i>
                    </a>

                    <ul
                      class="list-none py-0 pl-3 pr-0 m-0 hidden overflow-y-hidden transition-all transition-duration-400 transition-ease-in-out">
                      <ng-container *ngFor="let subItem of item.items">
                        <li *ngIf="subItem.isVisible">
                          <a id="{{ subItem.label }}" pRipple
                            (click)="subItem?.command ? subItem?.command($event) : moveToRouter(subItem?.routerLink)"
                            pRipple
                            class="flex align-items-center cursor-pointer p-3 text-700 hover:surface-100 transition-duration-150 transition-colors border-right-2 border-transparent">
                            <i class="pi {{subItem.icon}} mr-2"
                              [ngClass]="activeTab === subItem.menuId ? 'demo' : ''"></i>
                            <span class="font-medium" [ngClass]="activeTab === subItem.menuId ? 'demo' : ''">
                              {{subItem.label}}</span>
                          </a>
                        </li>
                      </ng-container>
                    </ul>
                  </li>
                </ng-container>
              </ng-container>


            </ul>

          </div>
          <div class="mt-auto border-top-1 surface-border p-3 flex justify-content-between md:mb-0 mb-8">
            <div class="relative">
              <a pRipple
                class="cursor-pointer inline-flex align-items-center justify-content-center border-2 surface-border hover:surface-100 text-600 transition-colors transition-duration-150 border-circle"
                style="width: 40px; height: 40px" (click)="onClickNotification()">
                <i class="pi pi-bell text-xl"></i>
              </a>
              <span *ngIf="notificationCount > 0" class="badge">{{
                notificationCount
                }}</span>
            </div>

            <a pRipple
              class="cursor-pointer inline-flex align-items-center justify-content-center border-2 surface-border hover:surface-100 text-600 transition-colors transition-duration-150 border-circle"
              style="width: 40px; height: 40px">
              <i class="pi pi-star text-xl"></i>
            </a>
            <a pRipple
              class="cursor-pointer inline-flex align-items-center justify-content-center border-2 surface-border hover:surface-100 text-600 transition-colors transition-duration-150 border-circle"
              style="width: 40px; height: 40px" (click)="onClickSettings()">
              <i class="pi pi-cog text-xl"></i>
            </a>

            <a pRipple
              class="cursor-pointer inline-flex align-items-center justify-content-center text-red-200 hover:bg-red-500 hover:text-white border-2 border-red-200 hover:border-red-600 transition-colors transition-duration-150 border-circle"
              style="width: 40px; height: 40px" (click)="onClickLogout()">
              <i class="pi pi-sign-out text-xl"></i>
            </a>
          </div>
        </div>
      </div>


      <!-- Mid Section -->
      <div class="flex flex-column flex-auto overflow-y-auto">
        <div class="shadow-2 card surface-card flex-auto lg:ml-3 p-4" style="border-radius: 8px">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>