<form [formGroup]="FV.formGroup">
  <div class="p-fluid grid formgrid">
    <div class="field col-12 md:col-6">
      <label class="required font-normal" for="date">Dates</label>
      <!--         [minDate]="minDate"
        [maxDate]="maxDate" -->
      <p-calendar
        selectionMode="multiple"
        formControlName="dates"
        [autofocus]="false"
      ></p-calendar>
    </div>

    <div class="field col-12 md:col-12">
      <p-editor formControlName="description" [style]="{ height: '250px' }">
        <ng-template pTemplate="header">
          <span class="ql-formats">
            <button type="button" class="ql-bold" aria-label="Bold"></button>
            <button
              type="button"
              class="ql-italic"
              aria-label="Italic"
            ></button>
            <button
              type="button"
              class="ql-underline"
              aria-label="Underline"
            ></button>
            <button
              type="button"
              class="ql-strike"
              aria-label="Strikethrough"
            ></button>
          </span>
        </ng-template>
      </p-editor>
      <small class="p-error mt-1" *ngIf="FV.getError('description')">
        {{ FV.getError("description") }}
      </small>
    </div>

    <div class="col-12 md:col-12">
      <div class="flex justify-content-end gap-2">
        <p-button
          icon="pi pi-save"
          label="Save"
          (onClick)="handleSave()"
        ></p-button>
        <p-button
          label="Clear"
          icon="pi pi-times"
          styleClass="p-button-secondary"
          (click)="handleCancel()"
        ></p-button>
      </div>
    </div>
  </div>
</form>
