<form
  [formGroup]="FV.formGroup"
  novalidate
  (keydown.enter)="$event.preventDefault()"
>
  <div class="grid formgrid p-fluid">
    <div class="field mb-3 col-12 md:col-12">
      <label for="currentPassword" class="font-medium text-900 required"
        >Current Password</label
      >
      <p-password
        [toggleMask]="true"
        [feedback]="false"
        formControlName="oldPassword"
      ></p-password>
    </div>
    <div class="field mb-3 col-12 md:col-6">
      <label for="newPassword" class="font-medium text-900 required"
        >New Password</label
      >
      <p-password
        [toggleMask]="true"
        [feedback]="false"
        formControlName="newPassword"
      ></p-password>
    </div>
    <div class="field mb-3 col-12 md:col-6">
      <label for="confirmPassword" class="font-medium text-900 required"
        >Confirm Password</label
      >
      <p-password
        [toggleMask]="true"
        [feedback]="false"
        formControlName="confirmPassword"
      ></p-password>
    </div>
  </div>
</form>

<div class="grid formgrid">
  <div class="field mt-1 col-12">
    <div class="flex justify-content-end gap-2">
      <button
        pButton
        label="SAVE"
        icon="pi pi-check-circle"
        class="p-button-primary p-button-sm mb:p-button"
        (click)="onSave()"
      ></button>
      <button
        pButton
        label="Cancel"
        icon="pi pi-times"
        class="p-button-secondary p-button-sm mb:p-button"
        (click)="onCancel()"
      ></button>
    </div>
  </div>
</div>
