<form [formGroup]="FV.formGroup" autocomplete="off">
  <!-- <div class="card"> -->
  <div class="grid mt-3 p-4">
    <div class="col-12">
      <div class="p-fluid grid formgrid align-items-end">
        <div class="field col-12 md:col-4">
          <label for="bankName">Bank Name</label>
          <p-dropdown
            id="bankName"
            styleClass="w-full"
            class="w-full"
            [options]="banks"
            optionLabel="name"
            placeholder="Select Bank"
            formControlName="bankName"
            appendTo="body"
          ></p-dropdown>
        </div>
        <div class="field col-12 md:col-4">
          <label for="branchName">Branch Name</label>
          <p-dropdown
            id="branchName"
            styleClass="w-full"
            class="w-full"
            [options]="branch"
            optionLabel="name"
            placeholder="Select Branch"
            formControlName="branchName"
            appendTo="body"
          ></p-dropdown>
        </div>
        <div class="field col-12 md:col-4">
          <label for="accNumber">Account Number</label>
          <input
            id="accNumber"
            pInputText
            type="text"
            class="w-full"
            formControlName="accNumber"
          />
        </div>
        <div class="field col-12 md:col-4">
          <label for="accHolderName">Account Holder Name</label>
          <input
            id="accHolderName"
            pInputText
            type="text"
            class="w-full"
            formControlName="accHolderName"
          />
        </div>
        <div class="field col-12 md:col-8">
          <label for="accHolderAddress">Account Holder Address</label>
          <input
            id="accHolderAddress"
            pInputText
            type="text"
            class="w-full"
            formControlName="accHolderAddress"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="grid">
    <div class="col-12">
      <div class="ButtonFooterCustom" style="float: right">
        <p-button
          label="Save"
          (onClick)="submit()"
          icon="pi pi-save"
          iconPos="left"
        ></p-button>
      </div>
    </div>
  </div> -->
</form>
