<form [formGroup]="FV.formGroup" autocomplete="off">
  <!-- <div class="card"> -->
  <div class="grid mt-3 p-4">
    <div class="col-12">
      <div class="p-fluid grid formgrid align-items-end">
        <div class="field col-12 md:col-4">
          <label for="bankName" class="required">Bank Name</label>
          <!-- <input
            id="bankName"
            pInputText
            type="text"
            class="w-full"
            formControlName="bankName"
            maxlength="50"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
          /> -->
          <p-dropdown
            id="bankName"
            [options]="bankArr"
            optionLabel="name"
            optionValue="id"
            placeholder="Select bank"
            formControlName="bankName"
            appendTo="body"
            [autoOptionFocus]="false"
            [filter]="true"
          ></p-dropdown>
        </div>
        <div class="field col-12 md:col-4">
          <label for="branchName" class="required">Branch Name</label>
          <input
            id="branchName"
            pInputText
            type="text"
            class="w-full"
            formControlName="branchName"
            maxlength="40"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
          />
        </div>
        <div class="field col-12 md:col-4">
          <label for="accNumber" class="required">Account Number</label>
          <input
            id="accNumber"
            pInputText
            type="text"
            class="w-full"
            formControlName="accNumber"
            oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 20)"
          />
        </div>
        <div class="field col-12 md:col-4">
          <label for="accHolderName" class="required"
            >Account Holder Name</label
          >
          <input
            id="accHolderName"
            pInputText
            type="text"
            class="w-full"
            formControlName="accHolderName"
            maxlength="60"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
          />
        </div>
        <div class="field col-12 md:col-8">
          <label for="accHolderAddress" class="required"
            >Account Holder Address</label
          >
          <input
            id="accHolderAddress"
            pInputText
            type="text"
            class="w-full"
            formControlName="accHolderAddress"
            maxlength="100"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
          />
        </div>
      </div>
    </div>
  </div>
</form>
