<form [formGroup]="FV.formGroup" autocomplete="off">
  <!-- <div class="card"> -->
  <div class="grid mt-3 p-4">
    <div class="p-fluid grid formgrid align-items-end">
      <div class="field col-12 md:col-3">
        <label for="regNumber" class="required">Registration Number</label>
        <input
          id="regNumber"
          pInputText
          type="text"
          class="w-full"
          formControlName="regNumber"
        />
      </div>
      <div class="field col-12 md:col-6">
        <label for="ownerName" class="required">Owner Name</label>
        <input
          id="ownerName"
          pInputText
          type="text"
          class="w-full"
          formControlName="ownerName"
        />
      </div>
      <div class="field col-12 md:col-3">
        <label for="vehicleType" class="required">Vehicle Type</label>
        <p-dropdown
          id="vehicleType"
          styleClass="w-full "
          [options]="typeArr"
          optionLabel="name"
          optionValue="id"
          placeholder="Vehicle Type"
          formControlName="vehicleType"
          appendTo="body"
          [autoOptionFocus]="false"
        ></p-dropdown>
      </div>

      <div class="field col-12 md:col-3">
        <label for="capacity" class="required">Capacity</label>
        <!-- <input
          id="capacity"
          pInputText
          type="text"
          class="w-full"
          formControlName="capacity"
        /> -->
        <p-inputNumber
          formControlName="capacity"
          inputId="mile"
          suffix=" CC"
          [max]="6000"
        />
      </div>
      <div class="field col-12 md:col-3">
        <label for="noOFSeats" class="required">Number of Seats</label>

        <p-inputNumber formControlName="noOFSeats" [max]="60" />
      </div>

      <div class="field col-12 md:col-3">
        <label for="noOFSeats">GPS Tracker</label>
        <input
          id="noOFSeats"
          pInputText
          type="text"
          class="w-full"
          formControlName="gpsTracker"
        />
      </div>

      <div class="field col-12 md:col-12">
        <label for="description">Description</label>
        <textarea
          id="description"
          pInputText
          type="text"
          class="w-full"
          formControlName="description"
          rows="3"
          style="resize: none"
        ></textarea>
      </div>
    </div>
  </div>

  <ng-template #templateRef>
    <div class="flex justify-content-end align-items-center gap-2">
      <p-button
        label="Cancel"
        icon="pi pi-times"
        styleClass="p-button-secondary"
        (onClick)="onClickCancel()"
      ></p-button>
      <p-button
        label="Save"
        icon="pi pi-save"
        iconPos="left"
        (onClick)="onClickSave()"
      ></p-button>
    </div>
  </ng-template>
</form>
