<form [formGroup]="FV.formGroup" autocomplete="off">
  <div class="p-fluid grid formgrid">
    <div class="field col-12 md:col-6">
      <label for="driverName">Driver Name</label>
      <p-dropdown
        id="driverName"
        class="w-full"
        [options]="driversArr"
        optionLabel="fullName"
        optionValue="_id"
        formControlName="driverName"
        [filter]="true"
        appendTo="body"
        [autoOptionFocus]="false"
      ></p-dropdown>
    </div>
    <div class="field col-12 md:col-6">
      <label for="vehicle">Vehicle</label>
      <p-dropdown
        id="vehicle"
        class="w-full"
        [options]="vehiclesArr"
        optionLabel="registrationNumber"
        optionValue="_id"
        formControlName="vehicle"
        [filter]="true"
        appendTo="body"
        [autoOptionFocus]="false"
      ></p-dropdown>
    </div>
    <div class="field col-12 md:col-6" *ngIf="isShowPreviousDrivers">
      <p-fieldset legend="Previous Drivers">
        <div class="flex flex-wrap gap-2">
          <ng-container *ngFor="let driver of withoutActiveDriver">
            <p-chip styleClass="pl-0 pr-3">
              <span
                class="bg-primary border-circle w-2rem h-2rem flex align-items-center justify-content-center"
              >
                <i class="pi pi-user"></i>
              </span>
              <span class="ml-2 font-medium"> {{ driver.driverName }} </span>
            </p-chip>
          </ng-container>
        </div>
      </p-fieldset>
    </div>
    <div class="field col-12 md:col-6" *ngIf="isShowPreviousVehicles">
      <p-fieldset legend="Previous Vehicles">
        <div class="flex flex-wrap gap-2">
          <ng-container *ngFor="let vehicle of withoutActiveVehicle">
            <p-chip styleClass="pl-0 pr-3">
              <span
                class="bg-primary border-circle w-2rem h-2rem flex align-items-center justify-content-center"
              >
                <i class="pi pi-car"></i>
              </span>
              <span class="ml-2 font-medium">
                {{ vehicle.registrationNumber }}
              </span>
            </p-chip>
          </ng-container>
        </div>
      </p-fieldset>
    </div>
    <div class="field col-12 md:col-12">
      <div class="flex gap-1" style="float: right">
        <p-button
          styleClass="p-button-secondary mr-2"
          label="Cancel"
          icon="pi pi-times"
          (click)="onClickCancel()"
        ></p-button>

        <p-button
          styleClass="p-button-success"
          label="Save"
          icon="pi pi-save"
          (click)="onClickSave()"
        ></p-button>
      </div>
    </div>
  </div>
</form>
