<form [formGroup]="FV.formGroup" autocomplete="off">
  <div class="p-fluid grid formgrid">
    <div class="field col-12 md:col-6">
      <label for="driverName">Driver Name</label>
      <p-dropdown
        id="driverName"
        class="w-full"
        [options]="driversArr"
        optionLabel="fullName"
        optionValue="_id"
        formControlName="driverName"
        [filterFields]="['fullName', 'userName']"
        [filter]="true"
        appendTo="body"
        [autoOptionFocus]="false"
      >
        <ng-template let-driver pTemplate="item">
          <div class="flex flex-column gap-2">
            <div class="flex justify-content-between align-items-center gap-3">
              <div class="font-semibold">
                {{ driver.fullName + " (" + driver.userName + ")" }}
              </div>
              <div>{{ driver.phoneNumber1 }}</div>
            </div>

            <div class="flex justify-content-between align-items-center">
              <div class="text-sm line-height-3">
                {{ driver.languagesStr }}
              </div>

              <div class="text-sm">
                {{ driver.isFreelanceDriver ? "Freelance" : "Permanent" }}
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template let-driver pTemplate="selectedItem">
          <div class="flex align-items-center gap-2">
            <div>{{ driver.fullName + " (" + driver.userName + ")" }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="field col-12 md:col-6">
      <label for="vehicle">Vehicle</label>
      <p-dropdown
        id="vehicle"
        class="w-full"
        [options]="vehiclesArr"
        optionLabel="registrationNumber"
        optionValue="_id"
        formControlName="vehicle"
        [filter]="true"
        appendTo="body"
        [autoOptionFocus]="false"
      >
        <ng-template let-vehicle pTemplate="item">
          <div class="flex flex-column gap-2">
            <div class="flex justify-content-between align-items-center">
              <div>
                {{ vehicle.registrationNumber }}
                {{ vehicle?.isFreelanceVehicle ? "(Freelance)" : "" }}
              </div>
              <div>{{ vehicle.typeName }}</div>
            </div>

            <div class="flex justify-content-between">
              <div class="text-sm">
                Seats: <b>{{ vehicle.availableSeats }}</b>
              </div>
              <div class="text-sm">Owner: {{ vehicle.vehicleOwner }}</div>
            </div>
          </div>
        </ng-template>

        <ng-template let-vehicle pTemplate="selectedItem">
          <div class="flex align-items-center gap-2">
            <div>{{ vehicle.registrationNumber }}</div>
            <div>
              ({{ vehicle.typeName }} - Seats : {{ vehicle.availableSeats }})
            </div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="field col-12 md:col-6" *ngIf="isShowPreviousDrivers">
      <p-fieldset legend="Previous Drivers">
        <div class="flex flex-wrap gap-2">
          <ng-container *ngFor="let driver of withoutActiveDriver">
            <p-chip styleClass="pl-0 pr-3">
              <span
                class="bg-primary border-circle w-2rem h-2rem flex align-items-center justify-content-center"
              >
                <i class="pi pi-user"></i>
              </span>
              <span class="ml-2 font-medium"> {{ driver.driverName }} </span>
            </p-chip>
          </ng-container>
        </div>
      </p-fieldset>
    </div>
    <div class="field col-12 md:col-6" *ngIf="isShowPreviousVehicles">
      <p-fieldset legend="Previous Vehicles">
        <div class="flex flex-wrap gap-2">
          <ng-container *ngFor="let vehicle of withoutActiveVehicle">
            <p-chip styleClass="pl-0 pr-3">
              <span
                class="bg-primary border-circle w-2rem h-2rem flex align-items-center justify-content-center"
              >
                <i class="pi pi-car"></i>
              </span>
              <span class="ml-2 font-medium">
                {{ vehicle.registrationNumber }}
              </span>
            </p-chip>
          </ng-container>
        </div>
      </p-fieldset>
    </div>
    <div class="field col-12 md:col-12">
      <div class="flex gap-2" style="float: right">
        <p-button
          styleClass="p-button-secondary p-button-sm mb:p-button"
          label="Cancel"
          icon="pi pi-times"
          (click)="onClickCancel()"
        ></p-button>

        <p-button
          styleClass="p-button-success p-button-sm mb:p-button"
          label="Save"
          icon="pi pi-save"
          (click)="onClickSave()"
        ></p-button>
      </div>
    </div>
  </div>
</form>
